.paramater .type {
    font-size: 18px;
}

.paramater .growthrate {
    font-size: 18px;
}

.paramater .kaomojiedit {
    height: 70%;
    margin-top: 36px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.paramater .kaomojiedit .unity-progress-bar__container {
    height: 70%;
}
