.hidden {
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    opacity: 0;
    translate: -100px 0;
}

.show {
    opacity: 1;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    scale: 1.2 1.2;
}

.text {
    -unity-font-definition: url("project://database/Assets/Fonts/NotoSansJP-Bold.ttf?fileID=12800000&guid=13e9717e548c5c5468315405fc2bcbbb&type=3#NotoSansJP-Bold");
    font-size: 34px;
}
